<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatcherInTheRye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18D00CF31CFC0D500052C8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D00D0B1CFC0D510052C8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D00D161CFC0D510052C8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
